@import "../core/variables";

.mainEnterPIN {
  height: 93%;
  display: flex;
  flex-direction: column;
  /* padding-top: 54px; */
  padding: 54px 42px 0 42px;
}

.titleEnterPIN {
  font-family: $font-button;
  font-size: 20px;
  width: 70%;
}

.containerEnterPIN {
  margin: auto 0;
}

.formEnterPIN {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /*  margin: 20px 48px 0 48px; */
  margin: 20px auto;
}

.btnEnterPIN {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
