@import "../core/variables";

.mainFeedbackSent {
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
}

.confirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.btnContainer {
  height: 20%;
}
