@import "../core/variables";

.mainGeneratePIN {
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 42px 0 42px;
}

.inputContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btnContainer {
  height: 20%;
}
