@import "../core/variables";

.mainGiveFeedback2 {
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 54px 42px 0 42px;
  @media all and (min-width: 768px) {
    width: 75%;
    margin: 0 auto;
  }
}

.titleGiveFeedback2 {
  font-family: $font-primary;
  font-size: 20px;
}

.formGiveFeedback2 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
}
