@import "../core/variables";

.mainGiveFeedback1 {
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 54px 42px 0 42px;
}

.titleGiveFeedback1 {
  font-family: $font-primary;
  font-size: 20px;
  // width: 70%;
}

.formGiveFeedback1 {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
}
