@import "../core/variables";

.mainLanding {
  height: 93%;
}

.hero {
  background-color: $color-main;
  color: white;
  height: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  height: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
