@import "../core/variables";

.mainViewFeedback {
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 42px 0 42px;
}

.textContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.textViewFeedback {
  font-family: $font-primary;
  font-size: 20px;
}
