@import "../core/variables";

.checkBox {
  display: flex;
  align-items: center;
  padding: 24px 0;
  cursor: pointer;
}

.checkBoxInput {
  margin-right: 24px;
  width: 34px;
  height: 34px;
  border: 2px solid $color-main;
  border-radius: 6px;

  &:checked {
    border: 2px solid $color-secondary;
  }
}

.checkBoxText {
  font-family: $font-secondary;
  font-size: 18px;
}
